form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  @media (min-width: 768px) {
    row-gap: 15px;
  }
}

label {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: #333;
}

input {
  padding: 10px 12px;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
  color: var(--marine-blue);

  &:focus-visible {
    outline: 0;
    border: 1px solid var(--purplish-blue);
  }

  @media (min-width: 768px) {
    border-radius: 7px;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-error {
  color: var(--strawberry-red);
  align-self: flex-end;
  font-weight: 500;
  font-size: 13px;
}

label.error + input {
  border-color: var(--strawberry-red);
}
